body
{
    background-color: rgb(243, 232, 232);
}
h5
{
    color: white;
    background-color: cadetblue;
}
#cardBody,#startQuizBtn
{
    color: cadetblue;
    background-color: white;
    border-color: cadetblue; 
}